<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
    </script>
    <script src="/scripts/main.js" defer></script>
    <title>Hiking Journal</title>
</head>
<body>
     <header>
        <h1> Hiking Journal</h1>
    </header>
    <Main>
        <a href="/hikes/new">
            <input type="submit" value="Click Here to Add a Hike" />
       </a>
    <div class="add-hikes">
        <% for (let idx = 0; idx < hikes.length; idx++) { %> 
            <% const hike = hikes[idx] %>
            <section>
                <div> <img src="<%= hike.image %>" alt="default hiking image" class="image" width="300" 
                    height="300"/> </div> 
            </section>
            <section>
                <div>
                    <h3>
                        <a href="/hikes/<%= hike.id %>"> <%= hike.hikeName %></a>
                    </h3>
                </div>
                <div>
                    <h4>Location: <%= hike.location %> </h4>
                </div>
                <div>
                    <h5>Hike Length: <%= hike.length %> </h5>
                </div>
                <div>
                    <h5>Elevation Gain: <%= hike.elevationGain %> </h5>
                </div>
            </section>
    <% } %>
    </div>
    </Main>
</body>
</html>