<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
    </script>
    <script src="/scripts/main.js" defer></script>
    <title>Hiking Journal</title>
</head>
<body>
     <header>
        <h1> Hiking Journal</h1>
    </header>
    <Main>
        <div class="add-hikes">
            <% for (let idx = 0; idx < hikes.length; idx++) { %> 
                <% const hike = hikes[idx] %>
        </div>
        <section>
            <div> <img src="<%= hike.image %>" alt="default hiking image" /> </div> 
        </section>
        <section>
            <div>
                <h3>Hike Name: <%= hike.hikeName %> </h3>
            </div>
            <div>
                <h4>Location: <%= hike.location %> </h4>
            </div>
            <div>
                <h5>Hike Length: <%= hike.length %> </h5>
            </div>
            <div>
                <h5>Elevation Gain: <%= hike.elevationGain %> </h5>
            </div>
        </section>
        <a type="button" href="/hikes/new">Click Here to Add a Hike</a>
    <% } %>
    </Main>
</body>
</html>